body {
    font-family: 'Poller One', sans-serif;
}

.screen {
    margin-bottom: 5rem !important;
    max-width: 70%;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.movie-banner img {
    object-fit: cover;
    height: 300px;
}

.pasillo-horizontal {
    background-color: transparent;
    width: 100%;
    height: 15px;
    margin-bottom: 10px;
}

.seat {
    width: 30px;
    height: 30px;
    text-align: center;
    font-size: 12px;
    line-height: 30px;
}

.btn-outline-secondary {
    border: 1px solid #6c757d;
    color: #6c757d;
    background-color: transparent;
}

.btn-success {
    background-color: #28a745 !important;
    color: #fff !important;
}

@media (max-width: 768px) {
    .screen {
        max-width: 90%; /* Más ancho en dispositivos móviles */
    }
}